h3{
    font-size: 25px !important;
} 

.btn-success:hover{
    background-color: darkgoldenrod;
}

canvas{
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes example{
    0%{box-shadow: 1px 1px 69px yellow;}
    25%{box-shadow: 1px 1px 69px green;}
    50%{box-shadow: 1px 1px 69px blue;}
    100%{box-shadow: 1px 1px 69px red;}
}